* {
text-decoration: none;
color: black;
font-family: 'Cabin', sans-serif;
}

body {
    background: linear-gradient(0deg, #2b181a , #521e26) ;
    background-size: 100vh 100vw;
    }
    
.oaklands-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lol {
    align-items: center;
    justify-content: center;
    
}
.lol {
    display: grid;
    grid-template-columns:repeat(5, 250px);
    grid-template-rows:repeat(3, 350px);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.item-box {
    width: 250px;
    height: 350px;
    border: solid #003a3a 5px;
    border-radius: 10px;
    background-color: #d3e7e4;
    transition: ease-in-out 200ms;
}

.item-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.credits {
    display: flex;
    position: relative;
    
}

p {
    background-color:  rgb(0, 58, 58);
    width: 101%;
    color:rgb(211,231,228) ;
    margin: 0px;
    padding: 0px;
    height: 40px;
}
.item-box:hover {
scale: 105%;
}
@media (max-width: 1500px) {
    .lol {
        display: grid;
        grid-template-columns:repeat(4, 250px);
        grid-template-rows:repeat(3, 300px);
        grid-column-gap: 40px;
        grid-row-gap: 90px;
    
    }
}
@media (max-width: 1100px) {
    .lol {
        display: grid;
        grid-template-columns:repeat(3, 250px);
        grid-template-rows:repeat(3, 300px);
        grid-column-gap: 40px;
        grid-row-gap: 90px;
    
    }
}
@media (max-width: 850px) {
    .lol {
        display: grid;
        grid-template-columns:repeat(2, 250px);
        grid-template-rows:repeat(3, 300px);
        grid-column-gap: 40px;
        grid-row-gap: 90px;
    
    }
}
@media (max-width: 600px) {
    .lol {
        display: grid;
        grid-template-columns:repeat(1, 250px);
        grid-template-rows:repeat(3, 300px);
        grid-column-gap: 40px;
        grid-row-gap: 90px;
    
    }
}
